<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GameOfLife.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GameOfLife.Properties.Settings>
            <setting name="TimerInterval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="width" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="gridcolor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="cellcolor" serializeAs="String">
                <value>0, 192, 0</value>
            </setting>
            <setting name="PanelColor" serializeAs="String">
                <value />
            </setting>
            <setting name="CountNeighbors" serializeAs="String">
                <value>True</value>
            </setting>
        </GameOfLife.Properties.Settings>
    </userSettings>
</configuration>